.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(5 1fr);
    border:10px solid red;
    grid-template-areas: 
    "hd hd"
    "pic pic"
    "main sd"
    "bar bar"
    "ft ft";
}

.header{
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
#title{
    font-family: 'Sofia', cursive;
    font-size: 64px;
    margin: 30px 80px;
    color:darkolivegreen
}
#subtitle{
    font-family: 'Sofia', cursive;
    font-size: 32px;
    padding-left: 100px;
    margin: -50px 80px;
    color: darkolivegreen;

}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.bar{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-top: 70px;
    margin: 40px 20px;
    color: darkolivegreen;
    text-decoration: none;
    
}
a:hover{
    color: indigo;  
}


.main-pic{
    grid-area:pic;
    text-align: center;
}

.main-pic-text{
    background-color: rgb(66, 66, 66); 
    background-color: rgba(77, 77, 77, 0.4);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border: 3px solid #f1f1f1;
    top: 20%;
    left: 80%;
    z-index: 2;
    width: 100%;
    padding: 10px;

}
.content{
    grid-area:main;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 20px 1fr 1fr;
    margin: 0px 80px;
    justify-content: space-between;
    padding: 40px 40px;
    grid-template-areas: 
    "go go go"
    "card1 card1 card1"
    "card2 card2 card2";
}
.skip{
    grid-area: go;
    font-size: 20px;
    text-align: right;
    padding: 20px 40px;
    color: darkolivegreen;;
}
.card1{
    display: flex;
    flex-direction: column;
    text-align: center;
	border-radius: 5px;
    box-shadow: 0 15px 30px 1px grey;
    padding: 60px 40px;
    margin: 30px;
}

.content-pic{
    width: 100%;
    height: 130%;
}

.container1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;

}



.form{
    text-align: right;
    display:flex;
    justify-content:space-evenly;
    gap: 20px;
    padding: 80px 24px;
}
#subscrip{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  background-color:rgb(247, 141, 100);
  border-radius: 60px;
}
#subscrip:hover{
    background-color:lightseagreen
}



.sidebar{
    grid-area:sd;
}
.footer{
    grid-area:ft;
}