.content{
    grid-area: main;
    display: block;
    margin: 0px 80px;
    padding: 40px 40px;
    margin-bottom: 20px;
}
.skip{
    grid-area: go;
    font-size: 20px;
    text-align: center;
    padding: 10px 40px;
    color: #4A6D7C; 

}
.content-main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.auther{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 20px;
    height: 50px;
    font-size: 20px;

}
.pic-icon{
    margin: 0px 10px 0 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.beef-pic{
    padding: 20px;
    width:80%;
    height:auto;
    margin-left: auto;
    margin-right: auto;

}
.list{
    list-style-type: none;
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 32%;
}
.Ingredients h3{
    font-size: 24px;
    background-color:rgba(98, 146, 158, 0.4);
    display: inline;
    border-radius: 10%;
}
.article-indi{
    text-align: left;
    margin-left: 24%;
    font-size: 20px;
}
.step h3{
    font-size: 24px;
    background-color:rgba(98, 146, 158, 0.4);
    display: inline;
    border-radius: 10%;
}
.p{
    text-align: left;
    font-size: 20px;
}
